#gameboard{
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 40px;
    height: 40px;
}

.beige{
    background-color: rgb(110,110,98);
}

.brown{
    background-color: rgb(169, 43, 43);
}

.square svg{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.black{
    fill: black;
}
.white{
    fill: white;
}
